<link rel="stylesheet" href="../../static/css/boot1.css" />
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <img src="../../static/images/LOGO_C.T.png" alt="" id="logoY">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
  aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'gererproduit' %}">Produits</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">
      </a>
    </li>
    <li class="nav-item dropdown" style="">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img src="../../static/images/iconeLog.png" alt="" style="height:35px;">
      <i class="fas fa-user"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-default"
    aria-labelledby="navbarDropdownMenuLink-333">
<!--Aide de Dylan Monteiro pour le menu-->
      {% if user.is_authenticated %}
        <p class="dropdown-item">Bienvenue </p>
        <a class="dropdown-item" href="{%url 'panier' %}">Mon panier</a>
        <a class="dropdown-item" href="{%url 'logout' %}">Déconnexion</a>
      {% else %}
        <a class="dropdown-item" href="{%url 'login' %}">Connexion</a>
      {% endif %}
  </div>
</li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</nav>
